<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>subtitle</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>type</key>
			<string></string>
			<key>class</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
